<!doctype html>
<html>
<head>
  <title>Flapper News</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- <script src="/libs/angular.min.js"></script> -->
  <script src="/libs/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
  <script src="/javascripts/angularApp.js"></script>
  <script src="/javascripts/controllers/MainCtrl.js"></script>
  <script src="/javascripts/controllers/PostsCtrl.js"></script>
  <script src="/javascripts/controllers/AuthCtrl.js"></script>
  <script src="/javascripts/controllers/NavCtrl.js"></script>
  <script src="/javascripts/factories/PostFactory.js"></script>
  <script src="/javascripts/factories/AuthFactory.js"></script>
  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
<body ng-app="flapperNews" ng-controller="MainCtrl">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
        <ul class="nav navbar-nav">
          <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
          <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
          <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
          <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
        </ul>
      </nav>

      <div class="page-header">
        <h1><a href="#/home">Flapper News</a></h1>
      </div>

      <ui-view></ui-view>

  </div>
</body>
</html>
